@media only screen and (max-width: 375px) {


 #main-div {
     width: 85%;
     margin: 20px;

 }
.main-wrapper {
width: 100%;

}

.wrapper {
    margin:0;
    width: 100%;
}

#questions {

    width: 100%;
    text-align: center;
}

   footer {
display: none;
   }
}
